table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


mat-header-cell {
  display:flex;
  justify-content:flex-end;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
